#map{ :"ng-controller" => "MapController" }
  %leaflet{ id:"map_main", center: "muenster", controls: "controls" }
#sidebar{ :"ng-controller" => "SidebarController" }
  %button{ :'ng-click' => 'start_contribution' } Start

