%div{ :ng_controller => "MapController" }
  #map
    %leaflet{ id: "map_main", center: "muenster", controls: "controls", geojson: "geojson", :"event-broadcast" => "events", :tiles => "tiles" }
  #sidebar{ :ng_show => "composing" }
    %h3 Beitrag verfassen
    %form{ :name => "contribution_form", :novalidate=> true, :ng_show => "composing" }
      %input{ :placeholder => "Titel", :ng_model => "newContribution.title", :type => "text", :required => true, :class => "input_title" }
      %div{ :"description-area" => true, :ng_model => "newContribution.description", :references => "newContribution.references", :required => true }
      -# {{ newContribution.description }} {{ newContribution.references }}
      %button{ :ng_disabled => "contribution_form.$invalid", :ng_click => "newContribution.submit()" } Abschicken
      %button{ :ng_click => "newContribution.abort()" } Abbrechen

