.activearea
%div{ ng_controller: "MainController"}
  #map{ ng_controller: "MapController" }
    %leaflet{ id: "map_main", controls: "controls", geojson: "geojson", :"event-broadcast" => "events", :tiles => "tiles" }
  #ui_container{ ng_controller: "SidebarController" }
    #map_backbutton{ ng_show: "$state.is('contribution') && !loading", ui_sref: "contributions" }
      = fa_icon "arrow-circle-o-left", class: "backbutton_icon"
      %span.backtext zurück
    = fa_icon "info", id: 'app_info_button', ng_dialog: "app_info_modal.html", ng_dialog_class: "ngdialog-theme-default", ng_dialog_close_previous: true
    #contribution_filter_container{ ng_show: "!loading" }
      #contribution_filter{ contribution_filter: true, ng_show: "showFilter", ng_class: "{'active_filter': showFilter}"  }
      = fa_icon "filter", id: "contribution_filter_button", ng_click: "showFilter = !showFilter", ng_class: "{'active_button': showFilter}"

    #sidebar
      #user{ ng_include: "'sidebar_user.html'" }
      %a.btn.btn--full.btn--green.new-topic-btn{ ng_click: "startNewTopic()", ng_hide: "Contribution.composing || $state.is('contribution')" } neues Thema
      -# %button{ ng_click: "startNewTopic()", ng_hide: "Contribution.composing || $state.is('contribution')" } neues Thema
      #new-topic-container
      #contributions-scroller
        = image_tag("loading.gif", class: "loading", ng_show: "loading")
        .view{ ui_view: true }
