-# .activearea
#main_ctrl{ ng_controller: "MainController"}
  #map{ ng_controller: "MapController" }
    %leaflet{ id: "map_main", controls: "controls", geojson: "geojson", :"event-broadcast" => "events", :tiles => "tiles", defaults: "defaults" }
  #ui_container{ ng_controller: "SidebarController" }
    / #title_box
    /   %span.title
    /     Nachhaltigkeitslandkarte Münster
    #back_flag.pointer{ title: "zurück", ng_class: "{visible_back_flag: $state.is('contribution') || loading === false}", ui_sref: "contributions", ng_click: "track('sidebar:clickBack')" }
      = fa_icon "angle-left", class: "icon"
      %span.text zurück
    = fa_icon "info", id: 'app_info_button', ng_dialog: "app_info_modal.html", ng_dialog_class: "ngdialog-theme-default", ng_dialog_close_previous: true

    #sidebar{ loading: true }
      .sidebar-top
        #help
          %a{ ng_click: "showHelpModal(0);track('sidebar:clickHelp')" }
            %i.fa.fa-question
            Hilfe
        #user
          %a{ href: "", ng_click: "User.showUserModal();track('sidebar:clickUserLink')" }
            %i.fa.fa-user
            {{ User.user.email || "Einloggen/Registrieren" }}

      .contribution#new-topic-initiator{ ng_hide: "$state.is('contribution') || User.user.name != 'buergerstiftung'" }
        %h3 Neues Thema erstellen
        %input{ type:"text", placeholder: "Titel", ng_focus: "startNewTopic()", ng_hide: "Contribution.composing" }
        #new-topic-container
      .contribution#filter{ ng_hide: "$state.is('contribution') || Contribution.composing" }
        %h3 Angebote filtern
        %div{ contribution_filter: true }
      .sorter{ ng_hide: "true" }
        Angebote sortieren nach:
        %select.sort-select{ "ui-select2" => "{minimumResultsForSearch: -1}", ng_init: "sortingOrder = 'ctAlphabetical'", ng_model: "sortingOrder" }
          %option{ value: "ctAlphabetical" } Alphabetisch
          %option{ value: "ctReplys" } meiste Antworten
          %option{ value: "ctNewer"} neueste zuerst
          %option{ value: "ctFav" } meist favorisiert
          %option{ value: "ctCategory" } Akteur
          %option{ value: "ctActivity" } Aktivität
          %option{ value: "ctStarting" } beginnt bald
          %option{ value: "ctEnding" } endet bald
      %perfect-scrollbar#contributions-scroller{ refresh_on_change: "Contribution.display_contributions",
        ng_hide: "Contribution.composing && $state.is('contributions')",
        ng_class: "{'scroller-tall': $state.is('contribution')}" }
        .view{ ui_view: true }
      #legend-toggler
        %a.fa.fa-angle-double-right{ ng_click: "showHelpModal(1);track('sidebar:clickLegend')" } Zeichenerklärung
