%div{ ng_controller: "MainController"}
  #map{ ng_controller: "MapController" }
    %leaflet{ id: "map_main", center: "muenster", controls: "controls", geojson: "geojson", :"event-broadcast" => "events", :tiles => "tiles" }
  #sidebar{ ng_controller: "SidebarController" }
    #user{ ng_include: "'sidebar_user.html'" }
    %button{ ng_click: "startNewTopic()" } start
    #new-topic-container
    -# .contribution-list{ contributions_display: true, ng_model: "Contribution.contributions" }
    #contributions-scroller
      .contribution-list
        %contributions{ contributions: "Contribution.contributions" }
