-# .activearea
#main_ctrl{ ng_controller: "MainController"}
  #map{ ng_controller: "MapController" }
    %leaflet{ id: "map_main", controls: "controls", geojson: "geojson", :"event-broadcast" => "events", :tiles => "tiles" }
  #ui_container{ ng_controller: "SidebarController" }

    #back_flag.pointer{ title: "zurück", ng_class: "{hidden_back_flag: $state.is('contributions') || loading === false}", ui_sref: "contributions" }
      = fa_icon "angle-left", class: "icon"
      %span.text zurück
    = fa_icon "info", id: 'app_info_button', ng_dialog: "app_info_modal.html", ng_dialog_class: "ngdialog-theme-default", ng_dialog_close_previous: true

    #sidebar
      = image_tag("loading.gif", class: "loading", loading: true)
      .sidebar-top
        #help
          %a{ ng_dialog: "help_modal.html", ng_dialog_class: "ngdialog-theme-default help-modal", ng_dialog_close_previous: true }
            %i.fa.fa-question
            Hilfe
        #user
          %a{ href: "", ng_click: "User.showUserModal()" }
            %i.fa.fa-user
            {{ User.user.email || "Einloggen/Registrieren" }}

      .contribution#new-topic-initiator{ ng_hide: "$state.is('contribution')" }
        %h3 neues Thema erstellen
        %input{ type:"text", placeholder: "Titel", ng_focus: "startNewTopic()", ng_hide: "Contribution.composing" }
        #new-topic-container
      .contribution#filter{ ng_hide: "$state.is('contribution') || Contribution.composing" }
        %h3 Beiträge filtern
        %div{ contribution_filter: true }
      %perfect-scrollbar#contributions-scroller{ refresh_on_change: "Contribution.display_contributions",
        ng_hide: "Contribution.composing && $state.is('contributions')",
        ng_class: "{'scroller-tall': $state.is('contribution')}" }
        .view{ ui_view: true }
