#map{ :ng_controller => "MapController" }
  %leaflet{ id: "map_main", center: "muenster", controls: "controls" }
#sidebar{ :ng_controller => "SidebarController" }
  %input{ :placeholder => "title", :ng_model => "ct.title" }
  %textarea{ :ng_model => "ct.description" }
    Text
  %button{ :ng_click => "start_contribution()" } Start
  %pre
    {{ jottsn }}
  %pre
    {{ ct.title }} {{ ct.description }}

