%div{ :ng_controller => "MapController" }
  #map
    %leaflet{ id: "map_main", center: "muenster", controls: "controls" }
  #sidebar
    %input{ :placeholder => "title", :ng_model => "newContribution.title" }
    %textarea{ :ng_model => "newContribution.description" }
      Text
    %button{ :ng_click => "newContribution.submit()" } Start
    %pre
      {{ newContribution.features_attributes }}
    %pre
      {{ newContribution.title }} {{ newContribution.description }}

