%div{ ng_controller: "MainController"}
  #map{ ng_controller: "MapController" }
    %leaflet{ id: "map_main", center: "muenster", controls: "controls", geojson: "geojson", :"event-broadcast" => "events", :tiles => "tiles" }
  #sidebar{ ng_controller: "SidebarController" }
    %div{ ng_include: "'contribution_input.html'" }
    %div{ ng_include: "'contribution_show.html'" }
    {{Contribution.features}}
    {{Contribution.description}}
    -#%div{ class: "editable", style:"height:40px", :"data-ng-model" => "hans.worst" }
    -#%div{ droptarget: "true", style:"border:1px solid black;height: 40px; width: 100%", contenteditable: "true" }
    -#%a{ href: "#", contenteditable: "false" } bla
    -#= image_tag('marker-icon.png')
    -#%p {{ hans.worst }}
