.app-info
  Diese Software ist
  %a{ href: "https://github.com/ubergesundheit/dialogmap", target: "_blank"} Open Source.
  %br
  %a{ href: "https://www.openstreetmap.org/copyright", target: "_blank" } Hintergrundkarte © OpenStreetMap-Mitwirkende
  .with-heart
    Mit <li class="fa fa-icon fa-heart"></li> in Münster gemacht.
