.app-info
  Diese Software ist
  %a{ href: "https://github.com/ubergesundheit/dialogmap", target: "_blank"} Open Source
  %br
  und mit <li class="fa fa-icon fa-heart"></li> in Münster gemacht.
  %br
  ©
  %a{ href: "http://geraldpape.io", target: "_blank" } Gerald Pape
  2014
  %br
  Kartendaten:
  %a{ href: "https://www.openstreetmap.org/copyright", target: "_blank" } © OpenStreetMap-Mitwirkende
  %br
  Kartendesign:
  %a{ href: "https://github.com/mapbox/osm-bright.tm2", target: "_blank" } OSM-Bright by Mapbox
