.app-info
  Diese Software ist
  %a{ href: "https://github.com/ubergesundheit/dialogmap", target: "_blank"} Open Source.
  %br
  Hintergrundkarte:
  %br
  %a{ href: "https://www.openstreetmap.org/copyright", target: "_blank" } Daten: © OpenStreetMap-Mitwirkende
  %br
  %a{ href: "https://github.com/mapbox/osm-bright.tm2", target: "_blank" } Design: OSM-Bright by Mapbox
  .with-heart
    Mit <li class="fa fa-icon fa-heart"></li> in Münster gemacht.
