%h3 {{ Contribution.currentContribution.title }}
%p {{ Contribution.currentContribution.description }}

-# %button{ ng_click: "Contribution.start(Contribution.currentContribution.features[0])" } Antworten
