.contribution{ ng_show: "Contribution.currentContribution" }
  %a.contribution-links{ ui_sref: "contributions" }
    zurück
  .contribution-info
    {{ Contribution.currentContribution.user.email }}
    schrieb
    {{ Contribution.currentContribution.createdAt | amCalendar}}
  .contribution-category-container{ title: '{{Contribution.currentContribution.category }}' }
    .category-color{ style: 'background-color: {{Contribution.currentContribution.category | strToHex }};'}
    %span.category-title{ style: 'color: {{Contribution.currentContribution.category | strToHex }};'} {{Contribution.currentContribution.category }}
  %h3 {{ Contribution.currentContribution.title }}
  .contribution-description{ contribution_description: "Contribution.currentContribution.description" }
  .contribution_input_replace{ :"data-id" => "{{Contribution.currentContribution.id}}", type: "edit" }
  .contribution-links{ ng_show: "Contribution.currentContribution.user.id === User.user.id && !Contribution.composing" }
    %a{ ng_click: "startContributionEdit(Contribution.currentContribution.id)"} Beitrag bearbeiten
  .children-contributions.contribution-list{ ng_repeat: "contribution in Contribution.currentContribution.childContributions", ng_show: "Contribution.currentContribution.childContributions" }
    .contribution{ ng_hide: "contribution.deleting", ng_class: "{deleted: contribution.deleted}" }
      .contribution-info
        {{ contribution.user.email }}
        schrieb
        {{ contribution.createdAt | amCalendar }}
      .contribution-description{ contribution_description: "contribution.description" }
      .contribution-info.info-below{ ng_show: "contribution.createdAt !== contribution.updatedAt || contribution.deleted" }
        {{ contribution.updatedAt | amCalendar }} {{ contribution.deleted ? 'gelöscht' : 'bearbeitet' }}
        %span{ ng_show: "contribution.deleteReason" }
          %br
          Grund: {{ contribution.deleteReason }}
      .contribution_input_replace{ :"data-id" => "{{contribution.id}}", type: "edit" }
      .contribution-links{ ng_hide: "contribution.user.id !== User.user.id || Contribution.composing || contribution.deleted || contribution.deleting" }
        %a{ ng_click: "startContributionEdit(contribution.id)"} Beitrag bearbeiten
        &#448;
        %a{ ng_click: "contribution.deleting = true" } Beitrag löschen
    .contribution.delete{ ng_show: "contribution.deleting" }
      %h3 Beitrag wirklich löschen?
      %br
      %input{ ng_model: "contribution.delete_reason_draft", placeholder: "Grund (max. 50 Zeichen)", maxlength: "50" }
      %br
      %br
      %a.btn.btn--s.btn--red{ ng_click: "contribution.deleting = false; contribution.delete_reason_draft = undefined" } Nein
      %a.btn.btn--s.btn--green{ ng_click: "Contribution.disable(contribution.id, contribution.delete_reason_draft)" } Ja
  %span{ ng_hide: "Contribution.currentContribution.childContributions.length != 0" }
    Noch keine Antworten &hellip;
  .contribution_input_replace{ :"data-id" => "{{Contribution.currentContribution.id}}" }
  .contribution-links{ ng_hide: "Contribution.composing" }
    %a{ ng_hide: "Contribution.composing", ng_click: "startAnswer(Contribution.currentContribution.id)" } Antwort verfassen
    &#448;
    %a{ ui_sref: "contributions" } zurück
.contribution{ ng_hide: "loading || Contribution.currentContribution" }
  Dieser Beitrag wurde nicht gefunden :(
  %a.contribution-links{ ui_sref: "contributions" }
    zurück
