%p {{ Contribution.currentContribution.user.email }}
%h3 {{ Contribution.currentContribution.title }}
%p{ ng_bind_html: "Contribution.currentContribution.description" }

-# %button{ ng_click: "Contribution.start(Contribution.currentContribution.features[0])" } Antworten
