.contribution{ ng_show: "Contribution.currentContribution" }
  %a.contribution-links{ ui_sref: "contributions" }
    zurück
  .contribution-info
    {{ Contribution.currentContribution.user.email }}
    schrieb am
    {{ Contribution.currentContribution.createdAt | date: "dd.MM.yy 'um' HH:mm:ss"}}
  %h3 {{ Contribution.currentContribution.title }}
  .contribution-description{ contribution_description: "Contribution.currentContribution.description" }
  .children-contributions.contribution-list{ ng_repeat: "contribution in Contribution.currentContribution.childContributions", ng_show: "Contribution.currentContribution.childContributions" }
    .contribution
      .contribution-info
        {{ contribution.user.email }}
        schrieb am
        {{ contribution.createdAt | date: "dd.MM.yy 'um' HH:mm:ss"}}
      .contribution-description{ contribution_description: "contribution.description" }
  %span{ ng_hide: "Contribution.currentContribution.childContributions" }
    Noch keine Antworten &hellip;
  .contribution_input_replace{ :"data-id" => "{{Contribution.currentContribution.id}}" }
    %button.contribution-replybutton{ ng_click: "startContributionHere(Contribution.currentContribution.id)", ng_hide: "Contribution.composing" }
      Antwort verfassen
  %a.contribution-links{ ui_sref: "contributions" }
    zurück
.contribution{ ng_hide: "loading || Contribution.currentContribution" }
  Dieser Beitrag wurde nicht gefunden :(
  %a.contribution-links{ ui_sref: "contributions" }
    zurück
