%div{ ng_show: "Contribution.composing" }
  %h3 Beitrag {{ Contribution.id ? 'bearbeiten' : 'verfassen' }}
  %form{ :name => "contribution_form", :novalidate=> true }
    %input{ :placeholder => "Titel", :ng_model => "Contribution.title", :type => "text", :class => "input_title", ng_hide: "Contribution.parent_contribution" }
    %input{ class: "category_input", type: "hidden", ng_model: "Contribution.category" }
    %div{ description_area: true, ng_model: "Contribution", id: "description_area_parent", required: true }
    %a.btn.btn--green.btn--m{ :ng_disabled => "contribution_form.$invalid", :ng_click => "Contribution.submit()" } Abschicken
    %a.btn.btn--red.btn--m{ :ng_click => "Contribution.abort()" } Abbrechen
