.contributions-list{ ng_repeat: "contribution in Contribution.parent_contributions"}
  .contribution
    .contribution-info
      {{ contribution.user.email }}
      schrieb
      {{ contribution.createdAt | amCalendar}}
    %h3 {{ contribution.title }}
    .contribution-description{ contribution_description: "contribution.description" }
    %a.contribution-links{ :"ui-sref" => "contribution({ id: contribution.id })" }
      Antworten
      %span{ ng_show: "contribution.childContributions.length > 0" } anzeigen ({{contribution.childContributions.length}})
