.filter_section
  %h4
    Kategorien
    %a.reset_filter{ href: "", ng_hide: "isCurrentContribution", ng_click: "selected_categories = {}" } Filter zurücksetzen
  %div{ ng_repeat: "category in categories"}
    %input{ type: 'checkbox', ng_model: 'selected_categories[category.id]', ng_disabled: "isCurrentContribution" }
      .category-color{ ng_style: "{'background-color': category.color}"}
      {{ category.id }}
.filter_section
  %h4
    Aktivitäten
    %a.reset_filter{ href: "", ng_hide: "isCurrentContribution", ng_click: "selected_activities = {}" } Filter zurücksetzen
  %div{ ng_repeat: "activity in activities"}
    %input{ type: 'checkbox', ng_model: 'selected_activities[activity.id]', ng_disabled: "isCurrentContribution" }
      .maki-icon{ class: "{{activity.icon}}"}
      {{ activity.id }}
.filter_section
  %h4
    Inhalte
    %a.reset_filter{ href: "", ng_hide: "isCurrentContribution", ng_click: "selected_contents = {}" } Filter zurücksetzen
  %div{ ng_repeat: "content in contents"}
    %input{ type: 'checkbox', ng_model: 'selected_contents[content.id]', ng_disabled: "isCurrentContribution" }
      {{ content.id }}
.filter_section
  %h4
    Zeitlich begrenzt
    %a.reset_filter{ href: "", ng_hide: "isCurrentContribution", ng_click: "selected_time = false" } Filter zurücksetzen
  %div
    %input{ type: "checkbox", ng_model: 'selected_time', ng_disabled: "isCurrentContribution"}
      begrenzt
