.contributions-list{ ng_repeat: "contribution in Contribution.parent_contributions"}
  .contribution
    .contribution-info
      {{ contribution.user.email }}
      schrieb
      {{ contribution.createdAt | amCalendar}}
    .contribution-category-container{ title: '{{contribution.category.id }} | {{contribution.activity.id }}' }
      .category-color{ ng_style: "{'background-color': contribution.category.color}" }
      %span.category-title{ ng_style: "{'color': contribution.category.color}" } {{contribution.category.id }}
      %br
      .maki-icon{ class: "{{contribution.activity.icon}}" }
      {{ contribution.activity.id }}
    %h3 {{ contribution.title }}
    .contribution-description{ contribution_description: "contribution.description" }
    %a.contribution-links{ :"ui-sref" => "contribution({ id: contribution.id })" }
      Antworten
      %span{ ng_show: "contribution.childContributions.length > 0" } anzeigen ({{contribution.childContributions.length}})
