#above-description-buttons.contributions-buttons
  %a#create-marker.button.marker.btn.btn--s.btn--sidebar{ href: "", title: "Punkt markieren", ng_click: "clickMarker('bar')" }
  %a#create-polygon.button.polygon.btn.btn--s.btn--sidebar{ href: "", title: "Fl채che markieren", ng_click: "clickPolygon('bar')" }
  .divider
  %a#create-feature-reference.button.feature-reference.btn.btn--s.btn--sidebar{ href: "", title: "Auf Geoobjekt verweisen", ng_click: "clickFeatureReference('bar')" }
  %a#create-url-reference.button.url-reference.btn.btn--s.btn--sidebar{ href: "", title: "Link einf체gen", ng_click: "clickUrlReference('bar')" }
%div{ id: "contribution_description_text", contenteditable: "true", :"strip-br" => "true", class: "contribution_descriptioninput", ng_model: "internal.description" }
  %span#placeholder Beschreibung
#floating-buttons.contributions-buttons
  %a{ id: "create-marker", class: "button marker", href: "", title: "Punkt markieren", ng_click: "clickMarker()" }
  %a{ id: "create-polygon", class: "button polygon", href: "", title: "Fl채che markieren", ng_click: "clickPolygon()" }
  .divider
  %a{ id: "create-feature-reference", class: "button feature-reference", href: "", title: "Auf Geoobjekt verweisen", ng_click: "clickFeatureReference()" }
  %a{ id: "create-url-reference", class: "button url-reference", href: "", title: "Link einf체gen", ng_click: "clickUrlReference()" }
%div{ class: "url-input" }
  %input{ id: "url-input-field", value: "http://", ui_keypress: "{13:'urlOnKeyEnterCallback($event)'}" }
