.highlighterArea
  .highlighterContainer
    .highlighter {{ internal.highlighted }}
  %textarea.txt{ :ng_model => "internal.raw_description", :placeholder => 'Beschreibung' }
  .references_container
    %ul.references_list
      %li.references_item{ :ng_repeat => "ref in references" }
        {{ ref | json }}
        //%img{ :src => "#{asset_path('marker-icon.png')}" }
      %li.references_item
        +
