%div{ id: "contribution_description_text", contenteditable: "true", :"strip-br" => "true", class: "contribution_descriptioninput", ng_model: "internal.description" }
%div{ class: "contributions-buttons" }
  %a{ id: "create-marker", class: "button marker", href: "#", title: "Draw a marker", ng_click: "clickMarker()" }
  %a{ id: "create-polygon", class: "button polygon", href: "#", title: "Draw a polygon", ng_click: "clickPolygon()" }
  .divider
  %a{ id: "create-feature-reference", class: "button feature-reference", href: "#", title: "Auf Geoobjekt verweisen", ng_click: "clickFeatureReference()" }
  %a{ id: "create-url-reference", class: "button url-reference", href: "#", title: "Link einfügen", ng_click: "clickUrleReference()" }
