.highlighterArea
  .highlighterContainer
    .highlighter
    //{{ internal.highlighted }}
  %textarea.txt{ :ng_model => "internal.raw_description", :placeholder => 'Beschreibung' }
  .references_container
    %tags-input{ ng_model: "references", display_property: "title", on_tag_removed: "removeDraftFeature($tag.leaflet_id)" }
    //%ul.references_list
    //  %li.references_item{ :ng_repeat => "ref in references" }
    //    {{ ref.id }}
    //  %li.references_item
    //    .add_reference +
