.contribution-description-tag.feature_reference_tag.static_tag{ ng_mouseenter: "track('sidebar:mouseoverFeatureReferenceTag',{ tag: tag })", ng_mouseover: "highlightRelated(tag.refId, $event)", ng_mouseleave: "resetHighlight(tag.refId, $event)", title: "{{tag.title}} | {{tag.referenceTo.properties.title}}"}
  %span.contribution-icon.reference
  %span.tag-title.static_tag
    {{ tag.title }}
    %span.userselect_none.contribution-icon{ class: "{{tag.referenceTo.geometry.type}}"}
    ({{ tag.referenceTo.properties.title }})
