.contribution-description-tag.feature_tag.static_tag{ ng_mouseover: "highlightRelated(tag.id, $event)", ng_mouseleave: "resetHighlight($event)" }
  %span.contribution-icon{ class: "{{tag.geometry.type}}"}
  %span.tag-title.static_tag
    {{ tag.properties.title }}
