%h2 Hilfe
%h4 Was?
%p
  Die DialogMap ist eine speziell auf räumliche Dialoge ausgelegte, interaktive Diskussionsplatform. Sie erlaubt es, Objekte mit räumlicher Ausprägung in einer Karte zu verzeichnen, um den Inhalt eines Diskussionsbeitrages eindeutiger zu machen. Antworten können neue Geoobjekte in den Dialog einfließen zu lassen und sich auf andere Geoobjekte beziehen und auf Internernetseiten verlinken.
%h4 Wie?
%p
