%simple-slider.carousel{ "transition-property" => "opacity", "start-value" => "0", "visible-value" => "1", "end-value" => "0", "auto-play" => "false", change: "{{actualslide}}" }
  .slide{ ng_init: "showVideo = false"}
    .video-container{ ng_show: "showVideo !== false" }
      %video{ ng_src: "{{ showVideo !== false ? showVideo : ''}}", autoplay: true, loop: true, controls: true }
      %a{ ng_click: "showVideo = false" } zurück
    .text{ ng_show: "showVideo === false" }
      %h1 Wie wird diese Seite benutzt?
      %p Wenn du schonmal eine Internetseite mit Karte benutzt hast, wirst du dich direkt heimisch fühlen. Hier sind noch ein paar kleine Videos, die die Grundfunktionen erklären.
      %a.fa.fa-angle-double-right.video-link{ href:"", ng_click: "showVideo = 'login.webm'" } Registrieren/Einloggen
      %a.fa.fa-angle-double-right.video-link{ href:"", ng_click: "showVideo = 'reply.webm'" } Meinung verfassen
      %a.fa.fa-angle-double-right.video-link{ href:"", ng_click: "showVideo = 'sortNfilter.webm'" } Angebote filtern/sortieren
  .slide
    %h1 Zeichenerklärung
    %div{ "legend-matrix" => true }

%p.footprint Diese Webseite verwendet Cookies, um einige Funktionen bereitzustellen. Durch die Benutzung stimmen Sie der Verwendung von Cookies auf dieser Seite zu.


-# %h2 Hilfe
-# %h4 Was?
-# %p
-#   Die DialogMap ist eine speziell auf räumliche Dialoge ausgelegte, interaktive Diskussionsplatform. Sie erlaubt es, Objekte mit räumlicher Ausprägung in einer Karte zu verzeichnen, um den Inhalt eines Diskussionsbeitrages eindeutiger zu machen. Antworten können neue Geoobjekte in den Dialog einfließen zu lassen und sich auf andere Geoobjekte beziehen und auf Internernetseiten verlinken.
-# %h4 Wie?
