Die Angebote sind in einige Kategorien eingeteilt. Damit man direkt auf der Karte erkennen kann, welcher Ort zu welcher Kategorie gehört, gehört zu jeder Kategorie eine Farbe und ein Icon.
%table
  %tr{ ng_repeat: "category in items" }
    %td {{ category.id }}
    %td{ ng_style: "{'background': getBackgroundCSS(category.icon, category.color)}" }
