%input{ placeholder: "Titel", class: "input_title", ng_model: "popups.title" }
%textarea{ placeholder: "Beschreibung", class: "popup_txt", ng_model: "popups.description" }
//%div{ ng_if: "layer_type == 'marker'" }
//  %input{ ng_model: 'popups["marker-color"]' }
