.popupcontent
  %h3 {{feature.properties.title}}
  .description {{ feature.properties.description }}
  %button{ :ng_hide => "Contribution.composing", :ng_click => "Contribution.start(feature)" } Antworten
