%li.fa.fa-user
%a{ href: "", ng_click: "User.showUserModal()" } {{ User.user.email || "Einloggen/Registrieren" }}
%span{ ng_show: "User.isAuthenticated()" }
  |
  %a{ href: "", ng_click: "User.logout()" } Ausloggen
