%div{ class: "contribution-description-tag", contenteditable: "false", leaflet_id: "new" }
  %span{ class: "contribution-icon {{type}}", contenteditable: "false" }
  %span{ class: "tag-title", contenteditable: "true" } {{ oldText }}
  %a{ href: "#", class: "tag-close", contenteditable: "false", ng_click: "clickDelete()" }
