@import "compass/reset"
@import "compass"
@import url(http://fonts.googleapis.com/css?family=Lato:400,700)

*,
*:before,
*:after
  +box-sizing(border-box)


$darker-grey: #303030
$light-grey: #DEDEDE
$lighter-grey: #FAFAFA
$default-font-family: 'lato', sans-serif
$sidebar-background: #b2d192