@import "compass/reset"
// @import "compass/css3/box-shadow"
// @import "compass/css3/box-sizing"
// @import "compass/css3/user-interface"
@import "compass"
//@import url(http://fonts.googleapis.com/css?family=Lato:400,700)
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 400
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff')

@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 700
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff')

@font-face
  font-family: 'Lato'
  font-style: italic
  font-weight: 400
  src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/oUan5VrEkpzIazlUe5ieaA.woff) format('woff')



@import "sassy-buttons"

*,
*:before,
*:after
  +box-sizing(border-box)


$darker-grey: #303030
$light-grey: #DEDEDE
$lighter-grey: #FAFAFA
$default-font-family: 'lato', sans-serif
$sidebar-background: #b2d192
