@import compass/reset
@import compass

*,
*:before,
*:after
  +box-sizing(border-box)

@import base

$buergerstiftung-yellow: #E9B11D
$buergerstiftung-red: #ae1c25
$page-width: 950px
$buergerstiftung-font-family: 'PT Sans', sans-serif

@-webkit-viewport
  width: device-width


@-moz-viewport
  width: device-width


@-ms-viewport
  width: device-width


@-o-viewport
  width: device-width


@viewport
  width: device-width

html, body
  font-family: $buergerstiftung-font-family

.container
  margin-right: auto
  margin-left: auto
  padding-left: 15px
  padding-right: 15px
  width: $page-width

.row
  margin-left: -15px
  margin-right: -15px

.col-xs-12, .col-sm-12, .col-md-12
  position: relative
  min-height: 1px
  padding-left: 15px
  padding-right: 15px

.col-xs-12
  float: left
  width: 100%

.nav
  margin-bottom: 0
  padding-left: 0
  list-style: none
  > li
    position: relative
    display: block
    > a
      position: relative
      display: block
      padding: 10px 15px
      &:hover, &:focus
        text-decoration: none
        background-color: #eeeeee

.navbar-collapse
  max-height: 340px
  overflow-x: visible
  padding-right: 15px
  padding-left: 15px
  border-top: 1px solid transparent
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1)
  -webkit-overflow-scrolling: touch

.navbar-collapse
  width: auto
  border-top: 0
  box-shadow: none
  &.collapse
    display: block !important
    height: auto !important
    padding-bottom: 0
    overflow: visible !important

.container >
  .navbar-header, .navbar-collapse
    margin-right: 0
    margin-left: 0

.navbar-toggle
  position: relative
  float: right
  margin-right: 15px
  padding: 9px 10px
  margin-top: 8px
  margin-bottom: 8px
  background-color: transparent
  background-image: none
  border: 1px solid transparent
  border-radius: 4px
  &:focus
    outline: none

.navbar-nav
  margin: 7.5px -15px
  > li > a
    padding-top: 10px
    padding-bottom: 10px
    line-height: 20px

.navbar-nav
  float: left
  margin: 0
  > li
    float: left
    > a
      padding-top: 15px
      padding-bottom: 15px

.navbar-default
  background-color: #f8f8f8
  border-color: #e7e7e7
  .navbar-nav >
    li > a
      color: #777777
      &:hover, &:focus
        color: #333333
        background-color: rgba(0, 0, 0, 0)
    .active > a
      color: #555555
      background-color: #e7e7e7
      &:hover, &:focus
        color: #555555
        background-color: #e7e7e7
  .navbar-toggle
    border-color: #dddddd
    &:hover, &:focus
      background-color: #dddddd
  .navbar-collapse
    border-color: #e7e7e7

.alert
  padding: 15px
  margin-bottom: 20px
  border: 1px solid transparent
  border-radius: 4px
  h4
    margin-top: 0
    color: inherit

.close
  float: right
  font-size: 21px
  font-weight: bold
  line-height: 1
  color: #000000
  text-shadow: 0 1px 0 #ffffff
  opacity: 0.2
  filter: alpha(opacity = 20)
  &:hover, &:focus
    color: #000000
    text-decoration: none
    cursor: pointer
    opacity: 0.5
    filter: alpha(opacity = 50)

.clearfix
  &:before, &:after
    content: " "
    display: table

.container
  &:before, &:after
    content: " "
    display: table

.row
  &:before, &:after
    content: " "
    display: table

.nav
  &:before, &:after
    content: " "
    display: table

.navbar
  &:before, &:after
    content: " "
    display: table

.navbar-header
  &:before, &:after
    content: " "
    display: table

.navbar-collapse
  &:before, &:after
    content: " "
    display: table

.clearfix:after, .container:after, .row:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after
  clear: both

button
  font-family: inherit
  font-size: inherit
  line-height: inherit

a
  color: $buergerstiftung-red
  text-decoration: none
  &:hover
    color: darken($buergerstiftung-red, 20)
    text-decoration: underline
  &:focus
    outline: 0

img
  vertical-align: middle

.wrap
  width: auto
  clear: both

h1, h2, h4
  font-weight: 700
  line-height: 1.1
  color: inherit

h1, h2
  margin-top: 20px
  margin-bottom: 10px

h4
  margin-top: 10px
  margin-bottom: 10px

h1
  font-size: 36px

h2
  font-size: 30px

h4
  font-size: 18px

p
  margin: 0 0 10px
  color: $darker-grey
  line-height: 1.2

small
  font-size: 85%

ul
  margin-top: 0
  margin-bottom: 10px

@media (min-width: 768px)
  .navbar-toggle
    display: none

.navbar-nav
  margin: 7.5px -15px

@media (min-width: 768px)
  .navbar-nav
    margin: 0

.navbar-default
  background-color: #f8f8f8
  border-color: #e7e7e7
  .navbar-nav >
    li > a
      color: #777777
      &:hover, &:focus
        color: #333333
        background-color: rgba(0, 0, 0, 0)
    .active > a
      color: #555555
      background-color: #e7e7e7
      &:hover, &:focus
        color: #555555
        background-color: #e7e7e7
  .navbar-toggle
    border-color: #dddddd
    &:hover, &:focus
      background-color: #dddddd
  .navbar-collapse
    border-color: #e7e7e7

.t3-mainnav
  border-left: 0
  border-right: 0
  margin-bottom: 0
  border-radius: 0
  .t3-navbar
    padding-left: 0
    padding-right: 0
  .t3-navbar-collapse .navbar-nav
    margin: 0 -15px
    > li
      > a
        border-top: 1px solid #e7e7e7
      &:first-child > a
        border-top: 0

.article-content img
  display: block
  max-width: 100%
  height: auto

.alert-notice
  background-color: #d9edf7
  border-color: #bce8f1
  color: #3a87ad

.alert h4
  color: inherit

.t3-header
  height: 103px
  line-height: 103px
  background-image: asset-url('logo_buergerstiftung.png'), asset-url('1000stunden_red.png'), asset-url('colorful_line.png')
  background-repeat: no-repeat, no-repeat, repeat-x
  background-position: left center, right top, center bottom

.logo
  text-align: center
  a
    display: inline-block
    line-height: 1
    margin: 0
    width: $page-width
    &:hover, &:focus
      text-decoration: none
      outline: 0

.tagline > p
  font-weight: 700
  letter-spacing: 1px
  font-size: 30px
  color: $buergerstiftung-yellow
  text-transform: uppercase

.t3-sl
  padding-bottom: 60px
  padding-top: 60px

.t3-mainbody
  background: #ffe3aa

.t3-content
  padding-bottom: 15px

.t3-footer
  border-top: 1px solid #eeeeee
  background: #f8f8f8
  color: #555555
  &:before
    content: " "
    display: table
  &:after
    content: " "
    display: table
    clear: both
  small
    display: block
    font-size: 100%

.t3-copyright
  border-top: 1px solid #eeeeee
  font-size: 12px
  padding: 40px 0 80px
  &:before
    content: " "
    display: table
  &:after
    content: " "
    display: table
    clear: both
  small
    margin-bottom: 5px

.copyright
  margin-bottom: 20px

.buergerpreismodule
  background: $buergerstiftung-yellow
  height: 75px

#startseite
  margin: -15px
  margin-top: -50px

.home
  background: asset-url('spinner-small.gif') no-repeat center
  h1
    line-height: 1
  h2
    font-size: 21px
  .t3-sl-1
    padding: 0
    background: #ffffff
    color: #333333

h2.header-title
  color: $buergerstiftung-red
  font-weight: 700
  font-size: 27px
  margin-top: 0px
  margin-bottom: 2px
  text-transform: uppercase
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

h3.header-title-smaller
  margin-top: 14px
  font-size: 14px
  margin-bottom: 10px

iframe
  width: 100%
  padding: 0px 30px
  height: 100%

strong
  font-weight: 700
  color: $buergerstiftung-red

em
  font-style: italic

$angebot-width: 153px

.angebote-container
  a:hover
    text-decoration: none
  .maki-icon
    margin-right: 5px
  .angebot-img-container
    cursor: pointer
    width: $angebot-width
    height: $angebot-width
    overflow: hidden
    position: relative // thx @chk1
    img
      max-width: $angebot-width
      // top: -50%
      position: relative
    &:hover > img
      +transform(scale3d(1.03,1.03,1))
    .angebot-actor, .angebot-label, .angebot-category-header
      font-weight: 700
      z-index: 1
      position: absolute
      background-color: rgba($buergerstiftung-yellow, 0.8)
      padding: 3px
      text-overflow: ellipsis
      // white-space: nowrap;
      overflow: hidden
      text-align: center
      color: $light-grey
      width: $angebot-width
    .angebot-actor
      top: 61%
      white-space: normal
    .angebot-label
      top: 25%
      visibility: hidden
    .angebot-category-header
      padding: 5px
      white-space: nowrap
      font-size: 12px
      height: 22px
    &:hover > .angebot-label
      visibility: visible
      color: $lighter-grey
    &:hover > .angebot-actor
      color: $lighter-grey
    &:hover > .angebot-category-header
      color: $lighter-grey


.angebot
  margin-top: 10px
  .left
    float: left
    width: 360px
    margin-right: 15px
    img
      max-width: 100%
      max-height: 100%
      margin-bottom: 10px
  .right
    width: 585px
    display: inline
  .wwww, .angebot-links
    margin-left: 375px
  .wwww, .contact
    margin-bottom: 20px
    font-size: 18px
    span
      font-weight: 700
      color: $buergerstiftung-red
      text-transform: uppercase
      font-size: 120%

.angebot-links > a
  font-weight: 700
  font-size: 18px

.angebot-back-link
  float: right

.startseite > p
  color: $buergerstiftung-red
  font-size: 19px
  font-weight: 700
  margin-bottom: 13px

.containers-tripple
  width: 920px
  text-align: center
  margin-top: 10px

.container3
  float: left
  width: 33%
  text-align: center
  h4
    color: $buergerstiftung-red

.aktuelles_page_img
  float: left
  margin-right: 10px
  max-height: 300px
  max-width: 300px

.aktuelles_container
  overflow: hidden
  margin-bottom: 5px
  height: 125px
  .aktuelles_img_container
    height: 100px
    overflow: hidden
    margin-bottom: 5px
  img
    max-height: 240px
    max-width: 240px
  a
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    &:hover > .aktuelles_img_container > img
      +transform(scale3d(1.05,1.05,1))
