.url-input
  background-color: $light-grey
  position: absolute
  padding: 5px
  @include border-radius(5px)
  @include single-box-shadow
  display: none

#above-description-buttons
  display: block
  position: relative
  +box-shadow(none)
  margin-bottom: 2px
  padding: 2px
  background-color: transparent
  .button
    margin-bottom: 0px
  .marker
    background-position: -123px -3px
  .polygon
    background-position: -32px -3px
  .feature-reference
    background-position: -269px -3px
  .url-reference
    background-position: -303px -3px

.contributions-buttons
  display: none
  position: absolute
  width: 127.33px
  background-color: $light-grey
  padding: 5px
  @include border-radius(5px)
  @include single-box-shadow
  +user-select(none)
  .button
    width: 26px
    height: 26px
    display: inline-block
    text-align: center
    text-decoration: none
    background-image: asset-url("spritesheet.png")
  .marker
    background-position: -122px -2px
  .polygon
    background-position: -31px -2px
  .feature-reference
    background-position: -268px -2px
  .url-reference
    background-position: -302px -2px
  .divider
    background-color: $darker-grey
    width: 1px
    height: 22px
    display: inline-block
    margin-bottom: 3px

.userselect_none
  @include user-select(none)

.contribution-description-tag
  display: inline-block
  line-height: 18px
  padding-left: 4px
  padding-right: 4px
  margin-left: 2px
  margin-right: 2px
  white-space: nowrap
  border: solid 1px $tag-border-color
  @include user-select(none)
  .tag-title
    color: $lighter-grey
    padding-right: 2px
    padding-left: 2px
    @include user-select(text)
  .tag-close
    color: $darker-grey
    text-decoration: none
    cursor: pointer
    @include user-select(none)
  .contribution-icon
    width: 14px
    height: 14px
    display: inline-block
    text-align: center
    text-decoration: none
    background-image: asset-url("spritesheet.png")
    @include user-select(none)
  .marker, .Point
    background-position: -128px -8px
  .polygon, .Polygon
    background-position: -37px -8px
  .reference
    background-position: -329px 0px

._tag
  background-color: #CCCCCC

.feature_tag
  background-color: $feature-tag-color

.feature_reference_tag
  background-color: $feature-reference-tag-color

.url_reference_tag
  background-color: $url-tag-color

.static_tag
  cursor: pointer
  +user-select(none !important)

.contribution_descriptioninput
  line-height: 24px
  width: 100%
  resize: none
  padding: 4px
  margin-bottom: 2px
  height: 100px
  position: relative
  overflow: auto
  cursor: text
  &:focus
    outline: 0
    &:before
      content: '' !important
  &:empty:before
    color: rgba(0,0,0,0.4)
    content: attr(placeholder)

.disabled_contenteditable
  background-color: #AAA

span#placeholder
  color: #888

// btns.css by mrmrs
.btn,
.btn:link,
.btn:visited
  border-radius: .3em
  border: 1px solid $light-grey
  display: inline-block
  margin-bottom: .5em
  +transition(background-color .4s)
  cursor: pointer
  background-color: lighten($sidebar-background,10)
  &:hover
    +transition(background-color .3s)
    background-color: darken($sidebar-background,10)
