body
  margin: 0
  padding: 0
  overflow: none
  color: $darker-grey
  font-family: $default-font-family


h1, h2, h3, h4
  font-weight: 700

h2
  font-size: 16pt
  margin: 1em 0px

h3
  font-size: 15pt

#map_main
  position: absolute
  top: 0
  bottom: 0
  width: 100%

#sidebar
  overflow-y: hidden
  position: absolute
  margin: 10px
  padding: 10px
  // width: 25%
  width: 400px
  background-color: $sidebar-background
  top: 0
  bottom: 0
  right: 0
  +border-radius(15px)
  +single-box-shadow($darker-grey, 2px, 2px)
  #user
    float: right
    font-size: 13px

input, button
  margin-bottom: 2px
  margin-top: 2px
  margin-left: 0px
  margin-right: 0px
  border: solid $darker-grey 1px
  padding: 4px

a
  cursor: pointer
  color: blue
  text-decoration: underline

.new-topic-btn
  clear: both

.input_title, .highlighter, textarea.txt, textarea.popup_txt, input,
.contribution_descriptioninput
  color: $darker-grey
  font-family: $default-font-family
  border: solid $darker-grey 1px
  background-color: $lighter-grey
  font-size: 12pt

.category_input
  display: block

.select2-container
  border: solid $darker-grey 1px
  .select2-choice
    border-radius: 0px
    border: 0px
    background-color: $lighter-grey
    background-image: none
    padding-left: 4px
.select2-arrow
  background: none !important
  border-radius: 0px !important
.select2-drop-active
  border-color: $darker-grey

.select2-container .select2-choice abbr
  background: asset-url("select2.png") right top no-repeat

.select2-container .select2-choice .select2-arrow b
  background: asset-url("select2.png") no-repeat 0 1px

.select2-search input
  background: asset-url("select2.png") no-repeat 100% -22px

.select2-search-choice-close
  background: asset-url("select2.png") right top no-repeat

.select2-more-results.select2-active
  background: #f4f4f4 asset-url("select2-spinner.gif") no-repeat 100%

.ngdialog.ngdialog-theme-default .ngdialog-content
  font-family: $default-font-family

.loading_container
  margin-top: 200px
  margin-bottom: 200px

.loading
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  background-color: #CCC
  padding: 3px
  +border-radius(6px)
  +single-box-shadow(rgba(40, 40, 40, 0.1), 0px, 0px, 2px, 2px)

#contributions-scroller
  overflow-y: auto
  height: 92%
  float: right
  width: 100%
  margin-top: 5px
.contribution-list
  // height: 95%
  float: right
  margin-top: 5px
  width: 100%
  &:hover
    background-color: $sidebar-background

.contribution
  border-bottom: 1px solid lighten($darker-grey,15)
  padding-top: 0.5em
  padding-bottom: 0.5em
  float: left
  clear: both
  width: 100%
  &:hover
    background-color: lighten($sidebar-background,5)
  .contribution-category-container
    .category-title
      text-transform: uppercase
      font-size: 14px
      +stroke(1px, rgba( $darker-grey, 0.2 ))
  .contribution-info
    font-size: 13px
    color: lighten($darker-grey,15)
  .info-below
    width: 100%
    text-align: right
  .contribution-description
    line-height: 24px
  .contribution-links
    float: right
  .children-contributions
    // width: 98%
    padding-left: 5px
    border-left: 2px solid lighten($darker-grey,15)
    .contribution
      border-bottom: 0px solid lighten($darker-grey,15)
      &:hover
        background-color: darken($sidebar-background,1)

.category-color
  display: inline-block
  width: 10px
  height: 10px
  border: 1px solid rgba( $darker-grey, 0.2 )
  +border-radius(5px)

.delete
  background-color: rgb(222, 177, 144)
  text-align: center
  a
    width: 50px
    display: inline-block
  &:hover
    background-color: rgb(222, 177, 144) !important

.highlight
  border: 2px solid orange !important
  margin-left: 1px !important
  margin-right: 1px !important
  padding-left: 4px !important
  padding-right: 4px !important
  stroke-width: 6px
  stroke: orange
  stroke-opacity: 1
  fill: rgba(0,0,0,0)

.deleted
  color: dimgrey !important
  .contribution-description, .tag-title
    text-decoration: line-through
  .contribution-description-tag
    +opacity(0.5)


#map_backbutton
  display: block
  position: absolute
  bottom: 10px
  right: calc(0% + 420px)
  width: 130px
  height: 170px
  text-align: center
  cursor: pointer
  color: darken($sidebar-background, 10)
  &:hover
    text-shadow: 0px 0px 3px $sidebar-background
  .backtext
    font-size: 20px
    display: block
    color: darken($sidebar-background, 20)
  .backbutton_icon
    font-size: 150px
    line-height: 130px
    margin-top: 20px
