body
  margin: 0
  padding: 0
  overflow: none
  color: $darker-grey
  font-family: $default-font-family

h3
  font-weight: 700
  font-size: 15pt

#map_main
  position: absolute
  top: 0
  bottom: 0
  width: 100%

#sidebar
  position: absolute
  margin: 10px
  padding: 10px
  width: 400px
  background-color: $sidebar-background
  top: 0
  bottom: 0
  right: 0
  #user
    float: right
    font-size: 13px

input, button
  margin-bottom: 2px
  margin-top: 2px
  border: solid $darker-grey 1px

.input_title, input
  width: 100%
  padding: 4px

.input_title, .highlighter, textarea.txt, textarea.popup_txt, input,
.contribution_descriptioninput
  color: $darker-grey
  font-family: $default-font-family
  border: solid $darker-grey 1px
  background-color: $lighter-grey
  font-size: 12pt

textarea.popup_txt, .contribution_descriptioninput
  width: 100%
  resize: none
  padding: 4px
  margin-bottom: 2px
  margin-top: 2px

.contribution_descriptioninput
  height: 100px
  position: relative
  &:focus
    outline: 0

.disabled_contenteditable
  background-color: #AAAAAA

button
  @include sassy-button("glass", 5px, 16px, #8cbe5f)

.contributions-buttons
  display: none
  position: absolute
  width: 100px
  background-color: #EFEFEF
  color: green
  .button
    width: 26px
    height: 26px
    display: inline-block
    text-align: center
    text-decoration: none
    background-image: url("spritesheet.png")
  .marker
    background-position: -122px -2px
  .polygon
    background-position: -31px -2px


.contribution-description-tag
  display: inline
  background-color: #CCCCCC
  border: solid 1px #505050
  height: 14px
  padding-left: 3px
  padding-right: 3px
  margin-left: 2px
  margin-right: 2px
  @include user-select(none)
  .tag-title
    color: $lighter-grey
    padding-right: 2px
    padding-left: 2px
    @include user-select(text)
  .tag-close
    color: $darker-grey
    text-decoration: none
    //cursor: pointer
    @include user-select(none)
  .contribution-icon
    width: 14px
    height: 14px
    display: inline-block
    text-align: center
    text-decoration: none
    background-image: url("spritesheet.png")
    @include user-select(none)
  .marker, .Point
    background-position: -128px -8px
  .polygon, .Polygon
    background-position: -37px -8px
