#login_form, #register_form, #modal_user
  width: 70%
  margin: auto
  input
    text-align: center
  .username, .password
    width: 100%
    border: 1px solid $darker-grey
  .error
    @include single-box-shadow(firebrick)

  .field_label_container
    height: 22px

  .field_error_container
    height: 18px

  .field_error, .field_label
    font-weight: bold
    font-size: 16px
    padding-left: 4px

  .field_error
    text-align: right
    color: firebrick
    font-weight: normal
    font-size: 11px
    font-style: italic

  .logout-link
    display: block
    text-align: center
    &:hover
      color: firebrick
    &:before
      margin: 0px 4px

  .user-email, .user-name
    text-align: center
    font-style: italic
    margin: 10px 0px
    &:before
      font-style: normal
      font-weight: 700
      font-variant: small-caps

  .user-email:before
    content: "E-Mail: "

  .user-name:before
    content: "Benutzername: "

  .edit-button
    text-align: center
    display: block

.social-login-button
  cursor: pointer
  color: $lighter-grey
  padding: 7px 5px 7px 0px
  margin: 0px 1px
  +border-radius(2px)
  &:before
    padding: 0px 5px

.social-buttons-container
  text-align: center
  margin: 10px 0px

#flash
  border: 1px dashed firebrick
  text-align: center
  font-style: italic

#register_form
  input.ng-valid
    +single-box-shadow(green)
