{
  "app": {
    "appname": "dialog-map",
    "hostname": "localhost",
    "oauth": {
      "facebook": {
        "key": "facebook_key",
        "secret": "facebook_secret"
      },
      "twitter": {
        "key": "twitter_key",
        "secret": "twitter_secret"
      },
      "google": {
        "key": "google_key",
        "secret": "google_secret"
      }
    },
    "email": {
      "smtp": {
        "host": "smtp.whatever.com",
        "port": 25,
        "user": "someuser",
        "password": "somepassword"
      },
      "email_from": "yourmail@provider.com"
    }
  },
  "users": {
    "deploy_keys": [
      "ssh-rsa A...n user@example.com"
    ],
    "admin_keys": [
      "ssh-rsa A...n user@example.com"
    ]
  },
  "postgresql": {
    "version": "9.3",
    "db_root_password": "SECUREpasswordFORpostgresDATABASEuser",
    "database":
      {
        "password": "pgpass"
      }
  },
  "ruby": {
    "version": "2.1.3"
  },
  "nginx": {
    "version": "1.7.3",
    "passenger": {
      "version": "4.0.45"
    }
  },
  "run_list": [
    "dialogmap-cookbook"
  ]
}
