!!! 5
%html{ :"ng-app" => "DialogMapApp" }
  %head
    %meta{:charset => "utf-8"}
    %title Nachhaltigkeitslandkarte Münster
    %meta{:content => "Supporting public deliberation through spatially referenced dialogues", :name => "description"}/
    %meta{:content => "Gerald Pape", :name => "author"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}
    %link{rel: "icon", href: "favicon.png", type: "image/png"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
