!!! 5
%html{ :"ng-app" => "DialogMapApp" }
  %head
    %meta{:charset => "utf-8"}
    %title DialogMap
    %meta{:content => "Supporting public deliberation through spatially referenced dialogues", :name => "description"}/
    %meta{:content => "Gerald Pape", :name => "author"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}
    %link{rel: "icon", href: "favicon.png", type: "image/png"}
    <style>#add-email{width: 400px;margin:auto}input{text-align: center;margin: auto;display: block;}#user_email{width: 100%;}p.help-block{text-align: justify;}p.no-spam{text-align:center;}</style>

    = csrf_meta_tags
  %body
    = yield
